@import "../variables.scss";

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px (rgba($color: $primary-text-color, $alpha: 0.2));
  margin-top: 20px;
  border-radius: 20px;
  background-color: #fff;

  @media screen and (min-width: $tablet) {
    width: 80%;
  }

  @media screen and (min-width: $desktop) {
    width: 60%;
  }
}

.text {
  font-size: 17px;
  color: $primary-text-color;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
}

.name {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 700;
  color: $secondary-text-color;

  & > svg {
    display: block;
    width: 50px;
    height: 50px;
  }
}

.highlight {
  font-weight: 700;
  color: $secondary-text-color;
}

.img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;

  @media screen and (min-width: $tablet) {
    width: 80%;
  }
}

.head {
  margin-bottom: 0;
  color: $secondary-text-color;
}

.list {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item {
  font-size: 16px;
  line-height: 1.5;
  color: $primary-text-color;
}

.btn {
  width: fit-content;
  display: block;
  text-align: center;
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  text-decoration: none;
  border-radius: 15px;
  color: #fff;
  background-color: rgb(10, 97, 219);
  transform: scale(1);
  transition: transform 250ms ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}
