@import "../../variables.scss";

.wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.box {
  box-sizing: border-box;
  width: 100%;
}

.text {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 24px;
  color: $secondary-text-color;

  @media screen and (min-width: $tablet) {
    font-size: 28px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 32px;
  }
}

.name {
  font-weight: 900;
  color: rgb(5, 5, 72);
}

.hero {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 6px;
}

.foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: $secondary-text-color;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.contacts {
  height: 80px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.info {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
}

.link {
  color: red;
}
