// @import "modern-normalize/modern-normalize.css";
@import "./variables.scss";
// @import "ol/ol.css";

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}

body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: $bg-color;
  overflow-y: scroll;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none; /* Removes the dots */
  padding: 0; /* Optional: Removes the default padding */
  margin: 0; /* Optional: Removes the default margin */
}

btn {
  cursor: pointer;
}
